<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="fhir-demo.ZPM">
    <Module>
      <Name>fhir-demo</Name>
      <Version>1.0.3</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="FHIRDEMO.PKG"/>
      <Resource Name="FHIRDEMOPKG.PKG"/>
      <!--<Invoke Class="FHIRDEMO.Install" Method="setup">
      </Invoke> -->
      <FileCopy Name="misc/HS.SDA3.xsd" Target="${libdir}"/>
         <Invoke Class="EnsLib.EDI.XML.SchemaXSD" Method="Import">
         <Arg>${libdir}/HS.SDA3.xsd</Arg>
      </Invoke>
      <Invoke Class="Ens.Director" Method="SetAutoStart" CheckStatus="true">
        <Arg Value="${MyNamespace}" />
        <Arg Value="FHIRDEMOPKG.FoundationProduction"/>
      </Invoke>

    </Module>
    
  </Document>
</Export>